<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Custom Keyboard</title>
</head>
<body>
    <h1>Choose your custom keyboard specs</h1>
    <form action="/keyboards" method="POST">
      <label>Keyboard Build Name:
        <input type="text" name="name">
        <br><br>
        
        <label>Keyboard Size:
            <select name="size"> 
            <option value="40%">40%</option>
            <option value="60-65%">60-65%</option>
            <option value="75%">75%</option>
            <option value="TKL(80%)">TKL(80%)</option>
            <option value="100%">100%</option>
          </select> 
          </label><br><br>
          <label>Keyboard Model:
            <select name="keyboardModel">
            <option value="Tofu">Tofu</option>
            <option value="NovelKeys">Novel Keys</option>
            <option value="Drop">Drop</option>
            <option value="Epomaker">Epomaker</option>
          </select> 
          </label><br>
          <br>
        </label>
        <label>Switch Type:
          <select name="switchType">
          <option value="Cherry MX">Cherry MX</option>
          <option value="Gateron">Gateron</option>
          <option value="Kailh">Kailh</option>
        </select> 
        </label><br>
        <br>
        <label>Switch Color:
            <select name="switchColor">
            <option value="Reds">Reds</option>
            <option value="Yellows">Yellows</option>
            <option value="Blacks">Blacks</option>
            <option value="Blues">Blues</option>
          </select> 
          </label><br>
          <br>
  <input type="submit" value="Add Keyboard">
</form>

<br>
          <br>

          <section id='images'>
            <div><img src="https://i.imgur.com/619b1Rw.jpg" style="width:100%"></div>
            <div><img src="https://i.imgur.com/8Jy8Gu9.jpg" style="width:100%"></div>
            </section>
            <br><br>
</body>
<!-- <section id='images'>
  <div><img src="https://i.imgur.com/8Jy8Gu9.jpg" style="width:100%"></div>
  <div><img src="https://i.imgur.com/wNO6uQ8.jpg" style="width:100%"></div>
  </section> -->
</html>
