<%- include('../partials/header') %>

<body>
    <h1>This is the Switch Creation Page</h1>
    <form action="/<%= user._id %>/switches" method="POST">
        <br><br>
        
        <label>Switch Type:
            <select name="switchType"> 
            <option value="Cherry MX">Cherry MX</option>
            <option value="Gateron">Gateron</option>
            <option value="Kailh">Kailh</option>
          </select> 
          </label><br><br>
          <label>Switch Color:
            <select name="switchColor">
            <option value="Reds">Reds</option>
            <option value="Yellows">Yellows</option>
            <option value="Blacks">Blacks</option>
            <option value="Blues">Blues</option>
          </select> 
          </label><br><br>

          <label>SwitchLube:
            <input type="checkbox" name="switchLube" checked>
            <input type="submit" value="Add Switches">
          </select> 
        </label>