<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the keyboards page</h1>
    <a href="/<%= user._id %>/keyboards/new" class="brand-logo left">Create Custom Keyboard</a>

    <% if (Keyboard.length) { %>
        <table>
          <thead>
            <tr>
              <th>Test</th>
            </tr>
          </thead>
          <tbody>
            <% Keyboard.forEach(function(k) { %>
                <tr>
                    <td><%= k.size %></td>
                    <td><%= k.keyboardType %></td>
                  </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Keyboard Builds Found</h5>
      <% } %>

</body>
</html>